<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="tests/bootstrap.php"
    colors="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
    cacheDirectory=".phpunit.cache"
>
    <testsuite name="all">
        <directory>tests</directory>
    </testsuite>
</phpunit>
